<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>my-account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>${ require('raw-loader!../../node_modules/lib-flexible/flexible.js') }</script>
</head>

<body>
    <div id='root'>

    </div>
    <!-- <script type="text/javascript" src="https://11.url.cn/now/lib/16.2.0/react.min.js"></script>
    <script type="text/javascript" src="https://11.url.cn/now/lib/16.2.0/react-dom.min.js"></script> -->
</body>

</html>